.code-box {
  border: 1px solid #ddd;
  &:hover {
    border: 1px solid #ccc;
  }

  &.pureRender {
    border:none;
    .code-box-demo {
      border: none;
      padding: 0;
    }
  }
  .code-box-demo {
    border-bottom: 1px solid #ddd;
    padding: 20px;
  }

  .code-box-meta.markdown {
    position: relative;
    padding: 16px 10px 24px;
    width: 100%;
    font-size: 12px;

    pre {
      border: 1px solid #ccc;
    }
  }

  .code-box-title {
    position: absolute;
    top: -12px;
    padding: 1px 8px;
    margin-left: 0;
    color: #777;
    background: #fff;
  }

  .code-box-title a,
  .code-box-title a:hover {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-weight: 500;
  }

  .code-expand-icon {
    position: absolute;
    right: 10px;
    bottom: 11px;
    cursor: pointer;
    width: 25px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    text-indent: 30px;
    color: #666;
  }

  .code-expand-icon-hide,
  .code-expand-icon-show {
    position: absolute;
    transition: all 0.4s;
    user-select: none;
    vertical-align: baseline;
    box-shadow: none;
    height: 20px;
    width: 30px;
    left: 0;
    opacity: 0.55;
  }

  .code-expand-icon-show {
    pointer-events: auto;
  }

  .code-expand-icon-hide {
    opacity: 0;
    pointer-events: none;
  }

  .code-error pre {
    color: #eee;
    background: #ff6b6b;
    margin: 0;
    padding: 15px;
  }

  textarea {
    cursor: text;
  }

  .editor-wrapper {
    font-size: 12.8px;
    line-height: 24px;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    > .code-for-copy {
      position: absolute;
      z-index: -999;
      overflow: hidden;
      height: 1px;
      width: 1px;
    }

    &.css {
      border-top: 1px solid #eee;
    }

    .token-line {
      min-height: 24px;
    }
  }

  &.mobile {
    display: flex;
    flex-direction: row;
    .code-box-demo {
      margin: 5px 3px;
      height: 640px;
      width: 360px;
      transform: scale3d(1, 1, 1);
      order: 1;
      padding: 0px;
      border: 1px solid #ddd;
      border-radius: 5px;
      overflow: hidden;
      .simulator-header {
        border-radius: 4px 4px 0 0;
        background: linear-gradient(rgba(55,55,55,.98),#545456);
        text-align: center;
        .status-bar {
          margin: 0 2px;
          height: 20px;
          background: url('./statusbar.png') no-repeat;
          background-position: 2px 5px;
          background-size: 98%;
        }
      }
      .live-demo {
        overflow: hidden;
        padding: 0px;
        height: calc(100% - 20px);
      }
      .mobile-render-iframe {
        margin: 5px;
        border: 0;
        height: 100%;
        width: 100%;
      }
    }
    .code-box-container {
      flex: 1;
      order: 0;
      min-width:0;
      padding-top: 25px;
      border-right: 1px dotted #ddd;
    }
  }
}
